.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-box {
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
  }
  
  .login-title {
    text-align: center;
    color: #3498db;
  }
  
  .form-group {
    margin: 25px;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0671b9;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #3498db;
    border-radius: 50%;
    margin: 0 auto;
    font-size: 48px;
    color: #fff;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajusta la altura según tus necesidades */
  }
  
  .login-form form {
    text-align: center;
  }
  
  .login-form button {
    margin-top: 10px; /* Opcional: Agrega un espacio entre el formulario y el botón */
  }

  .navbar {
    background-color: #333; /* Color de fondo del navbar */
    padding: 40px; /* Espaciado alrededor del logo */
  }
  
  .logo {
    width: 100px; /* Ancho del logo */
    height: auto; /* Altura automática para mantener la proporción */
  }
  